*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.home-img{
    background-color: black;
    text-align: center;
    height: 200px;
    padding-top: 100px;
    

}
img{
    border-radius: 50%;
}

.home-text{
    margin-top: 50px;
}
