*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.home-img{
    background-color: black;
    text-align:center;
    height: 50vh;
    padding-top: 100px;
    

}
img{
    border-radius: 50%;
}



.home-text{
    margin-top: 30px;
    text-align: center;
    padding-inline: 10px;
}
